@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-duration: 0.5s;
  animation-name: fadeInDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-duration: 0.5s;
  animation-name: fadeOutUp;
}

@keyframes animateText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animateText {
  animation-duration: 1s;
  animation-name: animateText;
}
