@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("~assets/fonts/Montserrat-Regular.eot");
  src:
    url("~assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("~assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("~assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("~assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("~assets/fonts/Montserrat-Bold.eot");
  src:
    url("~assets/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("~assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("~assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("~assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
